@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #1A1A1A;
    font-size:15px;
}

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo {
    width: 200px;
    height: 120px;
}
.header__heading {
    color: white;
    font-size: 3.5rem;
    margin-left: 350px;
}
.main {
    background-color: #999999;
    padding: auto 0;
}
.main__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.main__list__card {
    margin: 140px 0;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #777777;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main__list__card__heading {
    margin-top: 20px;
    font-size: 2.5rem;
}
.main__list__card__text {
    margin: auto 0;
    font-size: 2rem;
}
.footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 175px;
}
.footer__text {
    margin: 20px 0;
    color: white;
    font-size: 3rem;
}