@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #1A1A1A;
    font-size:15px;
}
a{
    text-decoration: none;
}
html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo {
    width: 200px;
    height: 120px;
}
.header__heading {
    color: white;
    font-size: 3.5rem;
    margin-left: 350px;
}
.main {
    background-color: #999999;
    padding-top: 100px;
    padding-bottom: 100px;
}
.main__form{
    max-width: 700px;
    margin: 0 auto;

}
.main__form__fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    background-color: #777777;
    border-radius: 20px;
}
.main__form__fieldset__legend {
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 7px #222222;
    background-color: #777777;
    padding: 0 20px;
    border-radius: 30px;
    border:2px solid black;
}
.main__form__fieldset__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__form__fieldset__main__part {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
.main__form__fieldset__main__part__heading {
    font-size: 2rem;
    text-shadow: 1px 1px 3px #222222;
    margin-right: 10px;
}
.main__form__fieldset__main__part__input {
    border-radius: 5px;
    border: 1.5px solid black;
    box-shadow: 0 0 6px black;
    width: 170px;
}
.main__form__fieldset__main__part__option {
    font-size: 1.7rem;
    text-shadow: 1px 1px 5px #222222;
    margin-right: 10px;
}
.main__form__fieldset__main__part--option{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.main__form__fieldset__main__part__input--textarea {
    height: 200px;
    width: 650px;
    border: 1.5px solid black;
    box-shadow: 0 0 6px black;
    border-radius: 15px;
}
.main__form__fieldset__buttons {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.main__form__fieldset__buttons__button {
    width: 170px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    text-align: center;
    color: aqua;
}
.footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 175px;
}
.footer__text {
    margin: 20px 0;
    color: white;
    font-size: 3rem;
}